:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  height: 2.2rem;
  color: #000020;
  cursor: pointer;
}

button:focus, button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  width: 0.3rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.6666666667);
  border-radius: 5px;
}

.app-cont {
  background: #000020;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-y: auto;
}

.header-cont {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 4rem;
  z-index: 4;
  background: rgba(224, 252, 255, 0.5019607843);
  box-shadow: 2px 2px 16px rgba(0, 0, 32, 0.3764705882);
}

.navbar-cont {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  height: 100vh;
  width: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background: rgba(0, 0, 32, 0.1882352941);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 2px 2px 16px rgba(0, 0, 32, 0.5019607843);
  transition: 0.5s;
}

.menu-toggle-cont {
  position: absolute;
  top: 0.25rem;
  left: 2rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  box-sizing: border-box;
  padding: 0.25rem;
  border-radius: 50%;
  transition: 0.5s;
}

.menu-toggle-cont:hover {
  background: rgba(0, 0, 32, 0.1882352941);
  transition: 0.5s;
}

.menu-toggle {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tripbar {
  width: 2rem;
  height: 1.5px;
  border-radius: 2px;
  background: #000020;
  transition: 0.5s;
  position: relative;
}

.tripbar:before, .tripbar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #000020;
  transition: 0.5s;
  transform: translateY(-10px);
}

.tripbar:after {
  transform: translateY(10px);
}

.side-page-sel {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.side-page-btn {
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: #e0fcff;
  cursor: pointer;
  transition: 0.5s;
}
.side-page-btn .side-page-label {
  display: none;
}

.side-page-btn:hover {
  box-shadow: 0 0 15px rgba(224, 252, 255, 0.1490196078);
  border-radius: 10px;
  transition: 0.5s;
}

.side-page-btn.active {
  box-shadow: 0 0 15px rgba(224, 252, 255, 0.2470588235);
  padding: 0 1rem;
  border-radius: 20px;
  transition: 0.5s;
}

.side-page-btn .side-page-label {
  display: flex;
}

.side-page-btn.active .side-page-icon {
  color: #00ffc8;
  border-bottom: solid 1px #00ffc8;
}

.side-page-btn.active .side-page-label {
  border-bottom: solid 1px #00ffc8;
}

.navbar-cont.active {
  width: 15rem;
  transition: 0.5s;
}
.navbar-cont.active .side-page-sel {
  display: flex;
}
.navbar-cont.active .side-layout-icon {
  display: none;
}
.navbar-cont.active .side-layout-sel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  gap: 0.5rem;
}
.navbar-cont.active .menu-toggle-cont:hover {
  background: transparent;
  transition: 0.5s;
}
.navbar-cont.active .menu-toggle .tripbar {
  transition: 0.5s;
  transform: rotate(360deg);
  background-color: transparent;
}
.navbar-cont.active .menu-toggle .tripbar:before {
  transition: 0.5s;
  transform: translateY(0) rotate(45deg);
}
.navbar-cont.active .menu-toggle .tripbar:after {
  transform: translateY(0) rotate(-45deg);
}

.dash-cont {
  height: 100vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.glass-display {
  z-index: 3;
  height: 50%;
  background: rgba(224, 252, 255, 0.1882352941);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: 0.75s ease-in-out;
}

.dash-body {
  z-index: 3;
  position: relative;
  background: #e0fcff;
  color: #000020;
  box-shadow: 2px 2px 16px rgba(0, 0, 32, 0.3764705882);
  height: 50%;
  box-sizing: border-box;
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  transition: 0.75s ease-in-out;
}

.dash-inv-border {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 15vh;
  top: -15vh;
  left: 0;
  border-radius: 50% 0% 50% 50%/0% 0% 50% 50%;
  box-shadow: 0 7.2vh 0 0 #e0fcff, inset 0px -10px 20px -25px rgba(0, 0, 32, 0.3764705882);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s ease-in-out;
}
.dash-inv-border .fa-arrow-down {
  box-sizing: border-box;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #000020;
  cursor: pointer;
  transition: 0.5s;
  transition: height 0.25s, width 0.25s;
}
.dash-inv-border .fa-arrow-down:hover {
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1.7rem;
  background: rgba(0, 0, 32, 0.1882352941);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  transition: 0.25s;
}

.dash-outfits-window {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.dash-outfit-header {
  border-top: 1px solid #000020;
  height: 2.2rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dash-outfit-header h2 {
  margin: 0;
  box-sizing: border-box;
  border-bottom: 2px solid #000020;
}
.dash-outfit-header i {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dash-outfit-header .fa-plus {
  display: flex;
}
.dash-outfit-header .fa-minus {
  display: none;
}

.dash-outfits-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  place-items: center;
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.dash-card-cont {
  height: 15rem;
  width: 15rem;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card-preview {
  display: flex;
}

.dash-card {
  background: white;
  height: 10rem;
  width: 10rem;
  border-radius: 20px;
  box-shadow: 2px 2px 16px rgba(0, 0, 32, 0.3137254902);
  display: flex;
  align-items: end;
  justify-content: center;
  box-sizing: border-box;
  transition: 0.5s;
}

.dash-card-overlay {
  position: absolute;
  height: 10rem;
  width: 10rem;
  background: transparent;
  visibility: hidden;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 0.5rem;
  transition: 0.5s;
}
.dash-card-overlay button {
  visibility: hidden;
}

.dash-card:hover {
  height: 11.5rem;
  width: 11.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 16px rgba(0, 0, 32, 0.3137254902);
  transition: 0.5s;
}
.dash-card:hover .dash-card-overlay {
  height: 11.5rem;
  width: 11.5rem;
  visibility: visible;
  background: rgba(0, 0, 32, 0.1882352941);
  border-radius: 10px;
  transition: 0.5s;
}
.dash-card:hover .dash-card-overlay button {
  visibility: visible;
}

.dash-card-label {
  padding: 0.5rem;
  line-height: 1.1;
  text-align: center;
}
.dash-card-label p {
  margin: 0;
  font-size: 0.95rem;
}
.dash-card-label small {
  font-size: 0.8rem;
}

.open-proj {
  background: #00ffc8;
  transition: 0.25s;
}

.open-proj:hover {
  background: rgba(0, 255, 200, 0.5019607843);
  box-shadow: 0 0 0 3px rgba(0, 255, 200, 0.5019607843);
  border-radius: 1px;
  transition: 0.25s;
}

.open-profile {
  background: transparent;
  border: 2px solid #00ffc8;
  transition: 0.25s;
}

.open-profile:hover {
  background: rgba(224, 252, 255, 0.5019607843);
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(224, 252, 255, 0.5019607843);
  border-radius: 1px;
  transition: 0.25s;
}

.dash-cont.active .glass-display {
  height: 0;
  transition: 0.75s ease-out;
}
.dash-cont.active .dash-body {
  overflow-y: auto;
  height: 100%;
  padding: 8rem 2rem 2rem;
  transition: 0.75s ease-out;
}
.dash-cont.active .dash-inv-border {
  height: 5rem;
  top: 4rem;
  border-radius: 0;
  box-shadow: none;
  transition: 0.75s ease-out;
}
.dash-cont.active .dash-inv-border .fa-arrow-down {
  transform: rotateZ(180deg);
  transition: 0.5s;
}
.dash-cont.active .dash-outfits-window {
  padding-top: 1rem;
}
.dash-cont.active .dash-outfits-window.active .dash-outfits-cont {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.dash-cont.active .dash-outfits-window.active .dash-card-cont {
  display: flex;
}
.dash-cont.active .dash-outfits-window.active .fa-plus {
  display: none;
}
.dash-cont.active .dash-outfits-window.active .fa-minus {
  display: flex;
}
.dash-cont.active .dash-card {
  height: 14rem;
  width: 14rem;
  border-radius: 10px;
  justify-content: start;
  transition: 0.5s;
}
.dash-cont.active .dash-card-label {
  line-height: 1.2;
  text-align: left;
  padding: 0.75rem;
}
.dash-cont.active .dash-card-label p {
  font-size: 1rem;
}
.dash-cont.active .dash-card-overlay {
  height: 14rem;
  width: 14rem;
  border-radius: 10px;
  row-gap: 0.75rem;
  justify-content: center;
  transition: 0.5s;
}
.dash-cont.active .dash-card:hover {
  height: 14rem;
  width: 14rem;
  border-radius: 10px;
  transition: 0.5s;
}
.dash-cont.active .dash-card:hover .dash-card-overlay {
  height: 14rem;
  width: 14rem;
  border-radius: 10px;
  transition: 0.5s;
}

.fitter-cont {
  z-index: 2;
  position: absolute;
  background: pink;
  top: 0;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */